ul.lista-libros {
    list-style: circle !important;
    border-left: 1px solid #eeeeee;
}

li {
    position: relative;
    display: block;
    padding: 10px !important;
    font-size: 14px;
    cursor: pointer;
}

li:hover {
    background-color: aliceblue;
}

li.activo {
    background-color: #108ee9;
    color: #ffffff;
    font-weight: bold;
}

.opciones {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 74px;
    height: 100%;
    display: none;
    padding-top: 10px;
    background: rgba(250, 250, 250, .03);
}

li.activo .opciones,
li:hover .opciones {
    display: block;
}

.opciones button {
    margin-left: 10px;
}