ul.lista-libros {
    list-style: circle !important;
    background-color: #efefef;
}

ul.lista-libros li {
    position: relative;
    display: block;
    padding: 10px !important;
    font-size: 14px;
    cursor: pointer;
    background-color: #ffffff;
    border-left: 1px solid #eeeeee;
}

.ghost {
    position: relative;
    padding: 10px !important;
    font-size: 14px;
    background-color: #ffffff;
    list-style-type: none;
    border-left: 1px solid #cccccc;
}

.ghost.activo {
    background-color: #108ee9;
    color: #ffffff;
    font-weight: bold;
}

.ghost .opciones {
    display: none;
}

ul.lista-libros li:hover {
    background-color: aliceblue;
}

ul.lista-libros li.activo {
    background-color: #108ee9;
    color: #ffffff;
    font-weight: bold;
}

ul.lista-libros .opciones {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 42px;
    height: 100%;
    display: none;
    padding-top: 10px;
    background: rgba(250, 250, 250, .03);
}

ul.lista-libros li.activo .opciones,
ul.lista-libros li:hover .opciones {
    display: block;
}

ul.lista-libros .opciones button {
    margin-left: 10px;
}