ul.lista-tareas {
    list-style: circle !important;
    border-left: 1px solid #eeeeee;
}

ul.lista-tareas li {
    position: relative;
    display: block;
    padding: 10px !important;
    font-size: 14px;
    cursor: pointer;
    border-left: 1px solid #eeeeee;
}

.ghost {
    position: relative;
    padding: 10px !important;
    font-size: 14px;
    background-color: #ffffff;
    list-style-type: none;
    border-left: 1px solid #cccccc;
}

.ghost.activo {
    background-color: #108ee9;
    color: #ffffff;
    font-weight: bold;
}

ul.lista-tareas li:hover {
    background-color: aliceblue;
}

ul.lista-tareas li.activo {
    background-color: #108ee9;
    color: #ffffff;
    font-weight: bold;
}

ul.lista-tareas li.en_curso {
    background-color: rgba(76, 175, 80, .03);
}

ul.lista-tareas li .progress {
    position: absolute;
    left: -1px;
    top: 0;
    width: 2px;
    height: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
}

ul.lista-tareas li .progress.activo {
    background-color: #00C853;
}

ul.lista-tareas li .progress.pausado {
    background-color: #D50000;
}

ul.lista-tareas li .progress.animate {
    transition: height 0.25s ease-in;
}

ul.lista-tareas .opciones {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 42px;
    height: 100%;
    display: none;
    padding-top: 10px;
    background: rgba(250, 250, 250, .03);
}

ul.lista-tareas li.activo .opciones,
ul.lista-tareas li:hover .opciones {
    display: block;
}

ul.lista-tareas .opciones button {
    margin-left: 10px;
}